/*

*1. Posicionamiento
*2. Modelo de caja (Box model)
*3. Tipografía
*4. Visuales
*5. Otros 

*/

:root {
    --medida-azul: #0069F6;
    --medida-verde: #008037;
    --medida-amarilla: #FBBC05;
    --medida-roja: #FF1616;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}


/** Maquetado del header */


header {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 100vh;
    background-image: url(https://fondosmil.com/fondo/18826.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}

.header--title {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    text-align: center;
    align-self: center;
    font-size: 5.2rem;
    font-weight: 900;
    line-height: 5.2rem;
}

.header--description {
    align-self: center;
    width: 90%;
    margin-top: 25px;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.4rem;
}












