/*

*1. Posicionamiento
*2. Modelo de caja (Box model)
*3. Tipografía
*4. Visuales
*5. Otros 

*/

:root {
    --medida-azul: #0069F6;
    --medida-verde: #008037;
    --medida-amarilla: #FBBC05;
    --medida-roja: #FF1616;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Rubik', sans-serif;
}


/** Maquetado del header */


header {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 90vh;
    background-image: url('./assets/background-header-png.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}

.header--title {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    text-align: center;
    align-self: center;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 5.2rem;
    letter-spacing: 0.1rem;
    color: wheat;
}
/* rgb(219, 233, 255) */
.header--description {
    align-self: center;
    width: 90%;
    margin-top: 25px;
    font-size: 2rem;
    font-weight: 400;
    line-height: 2.4rem;
    letter-spacing: 0.1rem;
    color: rgb(245, 228, 198);
}
/* rgb(152, 191, 255) */
.header--button{
    position: absolute;
    display: block;
    top: calc(100% - 80px);
    align-self: center;
    width: 48px;
    height: 48px;
}

.header--button span {
    display: inline-block;
    background-image: url('./assets/scroll.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 48px;
    height: 48px;
    opacity: 0.4;
}

/** Estilos del main */

/*? Estilos indice */

/*

*1. Posicionamiento
*2. Modelo de caja (Box model)
*3. Tipografía
*4. Visuales
*5. Otros 

*/

main {
    width: 100%;
    min-width: 320px;
}

.main--index-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-width: 320px;
    height: 380px;
    background-color: wheat;
}

.index--title {
    text-align: center;
    width: 90%;
    min-width: 288px;
    margin-top: 24px;
    letter-spacing: 1px;
    font-size: 2.6rem;
    color: rgb(59, 59, 59);
}

.main--index-container .index--button {
    text-align: center;
    min-width: 300px;
    padding: 15px 0;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1px;
    color: rgb(59, 59, 59);
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
    background-color: white;
}

.main--index-container .index--button:active {
    transition: 0.2s;
    color: rgb(241, 206, 142);
}

.main--index-container .index--button__circulo {
    margin-bottom: 24px;
}

/*? Estilos de seccion calculadoras */

/*

*1. Posicionamiento
*2. Modelo de caja (Box model)
*3. Tipografía
*4. Visuales
*5. Otros 

*/

.main--calculadora {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: 320px;
    max-width: 900px;
    margin: 0 auto;
    height: auto;
    font-family: 'Rubik', sans-serif;;
}

.main--calculadora img {
    width: 150px;
    align-self: center;
    justify-content: center;
}

.main--calculadora .calculadora--image__cotas {
    width: 200px;
    margin-top: 20px;
}

.calculadora--description {
    text-align: center;
    margin-top: 10px;
    width: 90%;
    height: auto;
    font-size: 1.6rem;
    line-height: 2rem;
}

.main--calculadora form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 15px;
    width: 90%;
}

.calculadora--input {
    margin-top: 10px;
    width: 130px;
    height: 30px;
    border: 1px rgb(207, 207, 207) solid;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16);
    text-align: center;
}

.calculadora--input:focus{
    outline: none;
}

.calculadora--choice-container {
    display: flex;
    justify-content: center;
    width: 90%;
    height: auto;
    margin-top: 10px;
}

.calculadora--choice {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

.calculadora--button {
    padding: 10px 0px;
    font-family: 'Rubik', sans-serif;
    font-size: 1.4rem;
    color: rgb(92, 67, 22);
    border: 1px solid rgba(92, 67, 22, 0.2);
    border-radius: 5px;
    background-color: wheat;
    box-shadow: 0px 2px 4px rgba(92, 67, 22, 0.16);
}

.calculadora--button:focus {
    background-color: white;
    border: 2px solid wheat;
    color: rgb(241, 206, 142);
    transform: scale(1.05);
    transition: 0.2s;
}

.calculadora--resultado {
    margin-top: 10px;
    font-size: 1.6rem;
}

.resultado__perimetro {
    margin-top: 15px;
}

.resultado__area {
    margin-bottom: 10px;
}



.input__azul {
    border: 1px solid var(--medida-azul);
    box-shadow: 0 2px 4px var(--medida-azul);
}

.input__azul::placeholder {
    color: var(--medida-azul);
}

.input__verde {
    border: 1px solid var(--medida-verde);
    box-shadow: 0 2px 4px var(--medida-verde);
}

.input__verde::placeholder {
    color: var(--medida-verde);
}

.input__amarillo {
    border: 1px solid var(--medida-amarilla);
    box-shadow: 0 2px 4px var(--medida-amarilla);
}

.input__amarillo::placeholder {
    color: var(--medida-amarilla);
}

.input__rojo {
    border: 1px solid var(--medida-roja);
    box-shadow: 0 2px 4px var(--medida-roja);
}

.input__rojo::placeholder {
    color: var(--medida-roja);
}

.description--strong__rojo {
    color: var(--medida-roja);
}

.description--strong__verde {
    color: var(--medida-verde);
}

.description--strong__amarillo {
    color: var(--medida-amarilla);
}

.description--strong__azul {
    color: var(--medida-azul);
}

hr {
    opacity: 0.2;
}
















